.our-partners-wrapper { background-color: #f7f7f7;
  .our-partners { padding-bottom: 60px;
    				/* padding-top: 50px; */ 
    h2 { color: $color-dark; font-weight: lighter; }
    img { 	@include transition(all 0.2s ease); 
    		/* opacity:0.3; */ 
    		text-align: center;
    		border: 1px solid #ddd;
    		margin-bottom: 20px;
      		&:hover { /* opacity:0.8;  */}
    }
  }
}

@media (max-width: 767px) {
  .our-partners-wrapper { margin-left: -20px; margin-right: -20px; padding-left: 20px; padding-right: 20px; text-align: center; }
}